/* WordPress backend device manager page */

.almefy-me-box {
    background: white;
    padding: 1rem 2.4rem 2.3rem;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.almefy-me-max-w-500 {
    max-width: 500px;
}

.almefy-me-device-page-col {
    padding: 1rem 2rem;
}

@media screen and (min-width: 1100px) {
    .almefy-me-device-pageseparator {
        border-left: solid 1px var(--almefy-blue);
        padding-left: 4rem;
    }
}